version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.6
    steps:
      - checkout
  test:
    docker:
      - image: circleci/ruby:2.6
    steps:
      - checkout
  deploy:
    docker:
      - image: buildpack-deps:trusty
    steps:
      - checkout
      - run:
          name: Deploy Master to Heroku
          command: |
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git master
workflows:
  version: 2
  build_and_test_and_deploy:
    jobs:
      - build
      - test
      - deploy:
          requires:
            - build
          filters:
              branches:
                only:
                  - master
