<div class="form-background">
  <div class="user-form">
    <%= form_tag("/users/login") do %>
      <h1>Sign In</h1>
      <br/><input name="email" placeholder="Email">
      <br/><input name="password" placeholder="Password">
      <br/><input type="submit" value="SIGN IN" class="user-form-btn">
      <div class="create-account">
        <%= link_to("Create an account", "/users/new", {class: "create-account"}) %>
      </div>
    <% end %>
  </div>
</div>
