<div class="form-background">
  <div class="user-form">
    <%= form_tag("/users/create") do %>
         <h1>Sign Up</h1>
         <% @user.errors.full_messages.each do |message| %>
           <div class="form-error">
             <%= message %>
           </div>
         <% end %>
         <input name="name" placeholder="Name">
         <br/><input name="email" placeholder="Email">
         <br/><input name="password" placeholder="Password">
         <br/><input type="submit" value="SIGN UP" class="user-form-btn">
    <% end %>
  </div>
</div>
