<div class="home-contents">
  <div class="home-image">
    <div class="home-title">
      <h1>Travel Hub</h1>
      <p>-Place for every traveller-</p>
    </div>
  </div>
  <div class="home-index">
    <h1>New Posts</h1>
  </div>
</div>
