<div class="form-background">
  <div class="post-form">
    <%= form_tag("/posts/create", {multipart: true}) do %>
      <h1>New Post</h1>
      <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
         <%= message %>
       </div>
     <% end %>
      <input name="photo" type="file" class="cursor">
      <input name="title" placeholder="Title">
      <br/><textarea name="content" rows="8" cols="80"></textarea>
      <br/><input type="submit" value="POST" class="user-form-btn">
    <% end %>
  </div>
</div>
