/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  margin: 0px;
  padding: 0px;
}

header{
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #000000;
}

.header-left{
  float: left;
  line-height: 50px;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
  transition: 0.5s;
}

.header-left:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 22px;
  display: none;
}

.header-right ul{
  margin: 0px;
  padding-right: 20px;
}

.header-right li{
  float: right;
  line-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  color: #ffffff;
  font-size: 25px;
  transition: 0.5s;
}

.header-right li:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.header-link{
  color: #ffffff;
  font-size: 25px;
  font-family: serif;
  display: block;
  text-decoration: none;
}

.signup-modal-wrapper, .login-modal-wrapper,
.user-modal-wrapper, .edit-modal-wrapper, .post-modal-wrapper{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal{
  position: absolute;
  top: 20%;
  left: 33%;
  width: 450px;
  padding: 30px;
  font-size: 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 3px 8px #c1ced7;
}

.user-modal{
  position: absolute;
  top: 10%;
  left: 33%;
  width: 450px;
  padding: 30px;
  font-size: 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 3px 8px #c1ced7;
}

.post-modal{
  position: absolute;
  top: 20%;
  left: 25%;
  width: 600px;
  padding: 30px;
  font-size: 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 3px 8px #c1ced7;
}

.newpost{
  text-decoration: none;
  color: #000000;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.modal input{
  width: 100%;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  font-size: 20px;
}

.user-modal input{
  width: 100%;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.post-modal input{
  width: 100%;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.post-modal textarea{
  font-size: 15px;
}

#edit-show, #post-show{
  cursor: pointer;
}

.flash{
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  z-index: 10;
  border-radius: 0 0 2px 2px;
  font-size: 20px;
}

.like-feature{
  float: right;
}

.like-btn{
  color: #8899a6;
}

.like-btn-unlike{
  color: #ff2581;
}

footer{
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #000000;
  z-index: 100;
}

footer p{
  float: right;
  padding-right: 40px;
  font-size: 20px;
  color: #ffffff;
}
