/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
  height: 100%;
}

body{
  margin: 0px;
  padding: 0px;
}

header{
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #000000;
}

.header-left{
  float: left;
  padding-left: 40px;
  padding-top: 12px;
}

.header-right ul{
  margin: 0px;
  padding-right: 20px;
}

.header-right li{
  float: right;
  padding-top: 12px;
  padding-right: 20px;
  list-style: none;
  color: #ffffff;
  font-size: 25px;
}

.header-link{
  color: #ffffff;
  font-size: 25px;
  font-family: serif;
  text-decoration: none;
}

.flash {
  top: 50px;
  width: 100%;
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  z-index: 10;
  border-radius: 0 0 2px 2px;
  font-size: 20px;
}

.like-feture{
  float: right;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}
