// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-content{
  height: 100%;
}

.home-image{
  height: 500px;
  width: 100%;
  background-image: url("/home_image/home.jpg");
}

.home-title{
  position: absolute;
  top: 220px;
  left: 250px;
  color: #ffffff;
  font-family: cursive;
  font-size: 25px;
}

.contents-title{
  position: absolute;
  top: 500px;
  height: 50px;
  width: 100%;
  background-color: #000000;
}

.contents-title ul{
  margin: 0;
}

.contents-title li{
  list-style: none;
  float: left;
  line-height: 50px;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.contents-title li:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.about-tab{
  display: none;
}

.contents-middle{
  position: absolute;
  top: 80%;
  left: 23%;
  height: 900px;
}

.contents-middle h1{
  font-family: serif;
  padding-left: 10px;
}

.index-post-form{
  height: 190px;
  width: 650px;
  box-shadow: 0px 5px 10px #c1ced7;
  padding: 15px;
  background-color: #ffffff;
}

.index-left img{
  float: left;
  height: 160px;
  width: 230px;
  padding: 5px;
}

.index-post-title{
 text-decoration: none;
 font-size: 30px;
 color: black;
}

.index-right{
  float: left;
  padding: 10px;
}

.index-right-top{
  padding: 5px;
  height: 60px;
  width: 350px;
}

.index-right-bottom{
  padding: 5px;
  height: 50px;
  width: 350px;
}

.index-right-bottom img{
  padding: 0px;
  height: 40px;
  width: 40px;
}

.link-to-user{
  color: #000000;
  text-decoration: none;
}

.index-right-bottom span{
  font-size: 20px;
}

.about{
  height: 450px;
  width: 100%;
}

.about-content{
  position: absolute;
  top: 75%;
  left: 23%;
  height: 230px;
  width: 600px;
  padding: 40px;
  margin: 40px;
  background-color: #ffffff;
  box-shadow: 0 3px 8px #c1ced7;
}

.about p{
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;;
}
