@media(max-width: 670px){
  .contents-middle{
    position: absolute;
    top: 90%;
  }

  .index-post-form{
    height: 350px;
    width: 95%;
  }

  .about-tab{
    position: absolute;
    top: 90%;
    height: 350px;
    width: 80%;
    padding: 40px;
  }
}
