@media(max-width: 670px){
  .home-image{

  }

  .contents-middle{
    position: absolute;
    top: 90%;
    left: 1;
    height: 1500px;
  }

  .index-post-form{
    height: 350px;
    width: 78%;
  }

  .like-feature{
    float: none;
  }

  .about-content{
    position: absolute;
    top: 80%;
    left: 1;
    height: 300px;
    width: 78%;
    padding: 40px;
    margin: 40px;
    background-color: #ffffff;
    box-shadow: 0 3px 8px #c1ced7;
  }
}
